body{
	margin: 0px;
	font-family: "Roboto", sans-serif; 
}

body.ui-ceres-body{
	margin: 0px;
	font-family: "Roboto", sans-serif; 
}

label.ui-form-label{
	font-weight: bold;
	color: #007ad9;
}

div.divContenedor{
	background-color: #ffff66;
	

}

div.divItem{
	background-color: #ff0000;
	
	width: 100px;
	height: 100px;
	
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

div.ui-ceres-index-panel-login{
	height: 326px;
	
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -80%);
}

body.ui-ceres-body .ui-panel-titlebar{
	background-color: #007ad9 !important;
	/*background-image: linear-gradient(90deg, #007ad9 0%, #007ad9 35%, #BFD2E1 100%);*/
	color: #ffffff !important;
}
